<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-Restaurant</title>
</head>
<body>
    <form th:action="@{/register-restaurant/save}" action="/register-restaurant/save" method="post" th:object="${restaurant}">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name" th:field="*{name}">

        <label for="speciality">Speciality</label>
        <input type="text" name="speciality" id="speciality" placeholder="Speciality" th:field="*{speciality}">

        <input type="submit" value="Register">
<!--        <a th:href="@{/restaurant-list}" href="/restaurant-list">Already have a resta? Login here !</a>-->
    </form>
</body>
</html>